.icon {
    border: 2px solid transparent;
    &-name {
        font-size: 13px;
        text-align: center;
    }

    &-selected {
        border: 2px solid #000;
        border-radius: 50px;
        overflow: hidden;
    }
}
